body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: none;
}
:root{
	--widthNavLogo: 110px;
	--widthSideBar: 250px;
	--heightNav: 80px;
  --balloon-font-size: 16px;
  --primaryColor: rgb(0, 87, 255);
  --secondaryColor: rgb(40, 210, 171);
}

button::-moz-focus-inner {
  border: 0;
}
